# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local IDE settings (VS Code / PyCharm)
.vscode/
.idea/

# Dataset files (Optioneel, maar aanbevolen voor grote bestanden)
*.db